body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 3rem;
  color: #fff;
}

.buffer {
  height: 10rem;
}
hr {
  border-color:#916617 ;
  margin: 20px auto;
  color: #916617;
  border: 3px solid #916617;
  max-width: 65px;
  opacity: 1;
}

}
.btn-lg {
  padding: 1rem 2rem;
}

.btn {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
  max-width: 200px;
  margin: 0px auto;
}

.btn-info {
  background-color: #916617;
  border-color: #916617;

}

.btn-info:hover {
  background-color: #c58237;
  border-color: #c58237;
  border-width: 4px;
}

.btn:active {
  background-color: #a1dc95;
}